body {
  background-color: #fcf6f2;
    color: #1f049f;
    font-family: 'Darker Grotesque', sans-serif;
  }

  h1 {
    font-weight: 900;
    font-size: 8em;
    color: #f1c9cc;
    opacity: 0.5;
    text-transform: uppercase;
    margin: 0 auto;
    line-height: 1em;
  }

  h2 {
    color: #f4cdb5;
    font-size: 3em;
    font-weight: 800;
    text-transform: uppercase;

  }

  h3 {
    color: #f4cdb5;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 3em;
  }

  h4 {
    color: #f92765;
    font-weight: 600;
    font-size: 2.5em;
  }

  hr {
    border-top: 1px dotted #f1c9cc;
  }
  p {
    color: #1a0008;
    font-size: 	2em;
    font-weight: 500;
  }

  a {
    color: #d8e021;
  }

  a:hover {
    color: #f92765;
  }

  a:active {
    color: #1f049f;
  }

  ul {
    list-style-type: none;
  }




  /* color scheme: https://huemint.com/website-3/#palette=fcf6f2-f1c9cc-f4cdb5-1f049f-f92765-d8e021 */

  /* Cursor Property Fun */

  .alias {
    cursor: alias;
    display: inline;
  }
  .all-scroll {cursor: all-scroll;
    display: inline;
  }
  .auto {cursor: auto;}
  .cell {cursor: cell;}
  .col-resize {cursor: col-resize;}
  .context-menu {cursor: context-menu;}
  .copy {cursor: copy;}
  .crosshair {cursor: crosshair;}
  .default {cursor: default;}
  .e-resize {cursor: e-resize;}
  .ew-resize {cursor: ew-resize;}
  .grab {cursor: grab;}
  .grabbing {cursor: grabbing;}
  .help {cursor: help;}
  .move {cursor: move;}
  .n-resize {cursor: n-resize;}
  .ne-resize {cursor: ne-resize;}
  .nesw-resize {cursor: nesw-resize;}
  .ns-resize {cursor: ns-resize;}
  .nw-resize {cursor: nw-resize;}
  .nwse-resize {cursor: nwse-resize;}
  .no-drop {cursor: no-drop;}
  .none {cursor: none;}
  .not-allowed {cursor: not-allowed;}
  .pointer {cursor: pointer;}
  .progress {cursor: progress;}
  .row-resize {cursor: row-resize;}
  .s-resize {cursor: s-resize;}
  .se-resize {cursor: se-resize;}
  .sw-resize {cursor: sw-resize;}
  .text {cursor: text;}
  .url {cursor: url(freecodecamp/icons8-heart-50.cur),auto;}
  .url2 {cursor: url(freecodecamp/icons8-smile-50.cur),auto;}
  .w-resize {cursor: w-resize;}
  .wait {cursor: wait;}
  .zoom-in {cursor: zoom-in;}
  .zoom-out {cursor: zoom-out;}
  