body {
  background-color: #FAF1EB;
    color: #FA6096;
    font-family: 'Darker Grotesque', sans-serif;
  }

  h1 {
    font-weight: 500;
    font-size: 5em;
  }

  h2 {
    color: #FFA45B;
    font-size: 4em;
    font-weight: 300;
  }

  h3 {
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    text-shadow: 2px 2px 5px #ff775e;
  }

  p {
    font-size: 	2em;
    font-weight: 400;
  }


  /* #fcd4c8 lt pink for containers */