body {
  background-color: #fffce5;
  color: #333333;
  font-family: 'Azeret Mono', monospace;
  }

  h1 {
    font-weight: 900;
    font-size: 3em;
    text-transform: uppercase;
    margin: 0 auto;
  }

  h2 {
    font-size: 2em;
    font-weight: 400;
  }

  h3 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 3em;
  }

  hr {
    border-top: 1px dotted goldenrod;
  }

  img {
    margin: 50px;
  }

  p {
    font-size: 	1.5em;
    font-weight: 500;
  }

  a {
    color: gold;
    text-decoration-style: dashed;
  }

  a:hover {
    color: gold;
    text-decoration-style: double;
    text-decoration-color: #333333;
  }

  a:active {
    color: #1f049f;
  }

  ul {
    list-style-type: none;
  }

  /* Cursor Property Fun */

  .alias {
    cursor: alias;
    display: inline;
  }
  .all-scroll {cursor: all-scroll;
    display: inline;
  }
  .auto {cursor: auto;}
  .cell {cursor: cell;}
  .col-resize {cursor: col-resize;}
  .context-menu {cursor: context-menu;}
  .copy {cursor: copy;}
  .crosshair {cursor: crosshair;}
  .default {cursor: default;}
  .e-resize {cursor: e-resize;}
  .ew-resize {cursor: ew-resize;}
  .grab {cursor: grab;}
  .grabbing {cursor: grabbing;}
  .help {cursor: help;}
  .move {cursor: move;}
  .n-resize {cursor: n-resize;}
  .ne-resize {cursor: ne-resize;}
  .nesw-resize {cursor: nesw-resize;}
  .ns-resize {cursor: ns-resize;}
  .nw-resize {cursor: nw-resize;}
  .nwse-resize {cursor: nwse-resize;}
  .no-drop {cursor: no-drop;}
  .none {cursor: none;}
  .not-allowed {cursor: not-allowed;}
  .pointer {cursor: pointer;}
  .progress {cursor: progress;}
  .row-resize {cursor: row-resize;}
  .s-resize {cursor: s-resize;}
  .se-resize {cursor: se-resize;}
  .sw-resize {cursor: sw-resize;}
  .text {cursor: text;}
  .w-resize {cursor: w-resize;}
  .wait {cursor: wait;}
  .zoom-in {cursor: zoom-in;}
  .zoom-out {cursor: zoom-out;}
  
  /* custom URL cursors */
  .url {cursor: url(freecodecamp/icons8-heart-50.cur),auto;}
  .url2 {cursor: url(freecodecamp/icons8-smile-50.cur),auto;}
  .url-wink {cursor: url(freecodecamp/icons8-wink-50.cur),auto;}
  .url-3d-pointer {cursor: url(freecodecamp/icons8-3d-pointer-50.cur),auto;}

  /* custom URL cursor name experiment */
  .url-v {cursor: url(freecodecamp/icons8-sign-language-v-50.cur),auto;
    text-decoration: none;}
  .url-i {cursor: url(freecodecamp/icons8-sign-language-i-50.cur),auto;
    text-decoration: none;}
  .url-c {cursor: url(freecodecamp/icons8-sign-language-c-50.cur),auto;
    text-decoration: none;}

